# blacklist all
*
!*/

# include whitelist
!/.github/**
!/.husky/**
!/src/**
!/.editorconfig
!/.env.example
!/.eslintrc
!/.gitignore
!/package.json
!/package-lock.json
!/tsconfig.build.json
!/tsconfig.json
